
<%- include("./partials/userHeader.ejs",{title:'User Dashboard',user}) -%>

<section class="align">
    <section class="profile-container">
   
        <div class="profile-info">
         <p>Name : <span><%= user.fullName %></span></p>
         <p>Email : <span><%= user.email %></span></p>
         <p>Phone : <span><%= user.phoneNumber %></span></p>
         <p>Password : <span><%= user.password %></span></p>
        </div>
    </section>
</section>


<%- include("./partials/footer.ejs") -%>
