<%- include("./partials/adminHeader.ejs", {title: 'Edit user' , admin}) -%>
    <!-- Editform fromm admin panel -->
    <!-- User edit form -->
    <section class="form-section edit-form">
        <div class="form-container">
            <form id="editProfile">
                <h2>Edit Profile of <%= user.fullName %>
                </h2>
                <div class="change-dp"><img id="profile_img" src="/uploads/<%= user.imageFileName %>" alt=""> <i
                        class="fa-solid fa-camera" title="change picture" onclick="triggerFileInput()"></i><input
                        type="file" id="userImage" name="userImage" accept="image/*" title="choose your profile image"
                        style="display: none;">
                </div>
                <label for="fullName">Full Name</label>
                <input type="text" id="fullName" name="fullName" value="<%= user.fullName %>">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="<%= user.email %>">
                <label for="phone">Phone</label>
                <input type="tel" id="phone" name="phoneNumber" value="<%= user.phoneNumber %>">
                <label for="password">Password</label>
                <input type="text" id="password" name="password" value="<%= user.password %>">
                <label for="rePassword">Re-enter Password</label>
                <input type="text" id="rePassword" name="reEnterPassword" value="<%= user.reEnterPassword %>">
                <button type="button" onclick="updateUser('<%= user._id %>')">Update</button>
            </form>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script>
         

        userImage.onchange = evt => {
            const [file1] = userImage.files
            if (file1) {
                profile_img.src = URL.createObjectURL(file1)
            }
        }

        function triggerFileInput() {
            document.getElementById('userImage').click()
        }
        
        async function updateUser(userId) {
            const formData = new FormData(); // Create a new FormData object

            formData.append('fullName', document.getElementById('fullName').value); //formData.append('key', value);
            formData.append('email', document.getElementById('email').value);
            formData.append('phone', document.getElementById('phone').value);
            formData.append('password', document.getElementById('password').value);
            formData.append('rePassword', document.getElementById('rePassword').value);

            const userImageInput = document.getElementById('userImage');
            if (userImageInput.files.length > 0) {
                formData.append('userImage', userImageInput.files[0], userImageInput.files[0].name);
            }

            try {
                const response = await fetch(`/api/admin/userEdit/${userId}`, {
                    method: 'PUT',
                    body: formData,
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    throw new Error(errorData);
                }

                const updatedUser = await response.json();
                console.log('User updated successfully', updatedUser);
                window.location.reload();
                // alert('Updated successfully..');
            } catch (err) {
                console.error(err);
            }
        }


        $(document).ready(function () {
                $('#editProfile').validate({
                    rules: {
                        fullName: {
                            required: true,
                            minlength: 2
                        },
                        email: {
                            required: true,
                            email: true,
                            customEmailValidation: true  // adding custom validation for email
                        },
                        phoneNumber: {
                            required: true,
                            number: true,
                            minlength: 10,
                            maxlength: 10,
                        },
                        password: {
                            required: true,
                            strongPasswordValidation: true
                        },
                        reEnterPassword: {
                            required: true,
                            equalTo: '#password'
                        },
                        userImage: {
                            required: true,
                            extension: 'jpg|jpeg|png|gif' // Allow specific image file extensions
                        }
                    },
                    messages: {
                        reEnterPassword: {
                            equalTo: 'Passwords do not match'
                        },
                        userImage: {
                            extension: 'Please upload a valid image file (jpg, jpeg, png, gif)'
                        }
                    },
                });
            });
            $.validator.addMethod("customEmailValidation", function (value, element) {
                return /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(value);
            }, 'please enter a valid email address');

            $.validator.addMethod("strongPasswordValidation", function (value, element) {
                return this.optional(element) || /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$/.test(value);
            }, "Password must be at least 6 characters long and include at least one lowercase letter, one uppercase letter, one digit, and one special character");
        


    </script>

    <%- include("./partials/footer.ejs") -%>